# A standard dependency
snippet dep
	<dependency>
		<groupId>${1}</groupId>
		<artifactId>${2}</artifactId>
		<version>${3}</version>
	</dependency>

# A test dependency
snippet tdep
	<dependency>
		<groupId>${1}</groupId>
		<artifactId>${2}</artifactId>
		<version>${3}</version>
		<scope>test</scope>
	</dependency>

# A scoped dependency
snippet sdep
	<dependency>
		<groupId>${1}</groupId>
		<artifactId>${2}</artifactId>
		<version>${3}</version>
		<scope>${4}</scope>
	</dependency>
